<div class="col-lg-12 mar10t">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="lead">Locatii angajati</strong>  </span></div>
      <div class="panel-body">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events" options="map.options">
          <ui-gmap-marker ng-repeat="marker in markers track by $index" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>

  </div>
</div>
