<h1>Management Task-uri</h1>

<ui-view></ui-view>


<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead">Filtrare task-uri</span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-10">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label">Status task</label>
            <select class="form-control" name="status" ng-model="filters.status">
              <option value="NEW">Nou</option>
              <option value="IN_PROGRESS">In lucru</option>
              <option value="FINISHED">Finalizat</option>
            </select>
          </div>
          <div class="form-group" style="margin-left: 10px">
            <label>Id angajat</label>
            <input type="text" class="form-control" placeholder="id anagajat" ng-model="filters.employee">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success" ng-click="search()">Cauta</button>
          </div>
        </form>
      </div>


    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6">
        <a ui-sref="admin.tasks.new" class="btn btn-primary">Adauga task</a>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <span class="lead">Listare task-uri</span>
  </div>
  <div class="panel-body">
    <div class="tablecontainer">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID.</th>
          <th>Angajat responsabil</th>
          <th>Status</th>
          <th>Data limita</th>
          <th>Data de inceput</th>
          <th>Adresa</th>
          <th>Actiuni</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks">
          <td><span ng-bind="task.rid"></span></td>
          <td><span ng-bind="task.employee.name"></span></td>
          <td><span ng-bind="task.status | taskStatus"></span></td>
          <td><span ng-bind="task.limitDate | date:'dd MMM yyyy HH:mm'"></span></td>
          <td>
            <span ng-if="task.startDate != null" ng-bind="task.startDate | date:'dd MMM yyyy HH:mm'"></span>
            <span ng-if="task.startDate == null">Task-ul nu a fost inceput</span>
          </td>
          <td>
            <span ng-if="task.address != null" ng-bind="task.address"></span>
            <span ng-if="task.address == null">Adresa nu a fost specificata</span>
          </td>
          <td>
            <div class="btn-group" uib-dropdown>
              <button id="split-button" type="button" class="btn btn-success">Actiuni</button>
              <button type="button" class="btn btn-success" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a ui-sref="admin.tasks.details({taskId: task.rid})">
                  <i class="fa fa-info-circle fa-fw"></i> Detalii</a>
                </li>
                <li role="menuitem" ng-if="task.status == FINISHED" ><a ui-sref="admin.tasks.edit({taskId: task.rid})">
                  <i class="fa fa-edit fa-fw"></i> Editeaza</a>
                </li>
                <li class="divider"></li>
                <li role="menuitem"> <a ui-sref="admin.location({id: task.employee.rid})">
                  <i class="fa fa-map-marker fa-fw"></i> Urmareste Locatia</a>
                </li>
              </ul>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <ul uib-pagination boundary-links="true" ng-change="pageChanged()" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
  </div>

</div>
