<ul class="nav navbar-top-links navbar-right">
    <li uib-dropdown ng-controller="AlertsCtrl">
        <a uib-dropdown-toggle ng-click="resetCounter()">
          Alerte
          <span ng-if="counter > 0" class="label label-danger" ng-bind="counter"></span>
          <i class="fa fa-caret-down"></i>
        </a>

      <ul uib-dropdown-menu class="dropdown-alerts" >
        <li ng-repeat="alert in alerts">
            <div>
              <i class="fa fa-tasks fa-fw"></i> {{alert.title}}
              <span class="pull-right text-muted small">{{alert.date | date:'dd MMM yyyy HH:mm'}}</span>
            </div>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" ui-sref="admin.alerts">
            <strong>Vezi toate alertele</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->

    </li>
     <!--/.dropdown-->
    <li uib-dropdown>
        <a uib-dropdown-toggle>
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul uib-dropdown-menu class="dropdown-employee">
            <li><a href="javascript://" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-employee -->
    </li>
</ul>

